body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#17fec3+0,16a2ae+100 */
    background: #17fec3; /* Old browsers */
    background: -moz-linear-gradient(top,  #17fec3 0%, #16a2ae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #17fec3 0%,#16a2ae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #17fec3 0%,#16a2ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17fec3', endColorstr='#16a2ae',GradientType=0 ); /* IE6-9 */
}

.cba-wrapper {
    padding: 0 35px;
    color: white !important;
}